<hr>
<div class="copyright">
本站以学习交流为目的，使用Twig制作，<a href="https://github.com/0537wangjin/twig" target="_blank"><span class="glyphicon glyphicon-link"></span>源码开放在Github</a>，站长QQ：445899710
</h3>
<p style="display:none;">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261009584'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1261009584' type='text/javascript'%3E%3C/script%3E"));</script>
</p>
</body>
</html>