{% extends 'base.html' %}
{% block content %}

<h4><span class="glyphicon glyphicon-fire"></span> 运行环境</h4>
<pre>Twig至少需要PHP5.2.4来运行。</pre>
<h4><span class="glyphicon glyphicon-book"></span> 使用Composer安装</h4>
<p>先创建一个 composer.json <a href="./composer.json" target="_blank"><ins>下载</ins></a></p>
<pre><code class="language-bash hljs">{
    "require": {
        "twig/twig": "1.29.0",
        "php": ">=5.2.7"
    },
    "repositories": {
        "packagist": {
            "type": "composer",
            "url": "https://packagist.phpcomposer.com"
        }
    }
}</code></pre>

<h4><span class="glyphicon glyphicon-screenshot"></span> 开始安装</h4>
<pre>
<code class="language-php hljs">composer install</code></pre>
<h4><span class="glyphicon glyphicon-screenshot"></span> 开始安装</h4>
<p>
如果你不使用Composer，你可以<a href="http://cdn.huyahaha.com/twig.zip">点击下载代码文件</a>
</p>

{% endblock %}