<ul>
      <li><strong>Tags</strong>
        <ul>
          <li><a href="./tags.php?tag=autoescape">autoescape</a></li>
          <li><a href="./tags.php?tag=with">with</a></li>
          <li><a href="./tags.php?tag=block">block</a></li>
          <li><a href="./tags.php?tag=do">do</a></li>
          <li><a href="./tags.php?tag=embed">embed</a></li>
          <li><a href="./tags.php?tag=extends">extends</a></li>
          <li><a href="./tags.php?tag=filter">filter</a></li>
          <li><a href="./tags.php?tag=flush">flush</a></li>
          <li><a href="./tags.php?tag=for">for</a></li>
          <li><a href="./tags.php?tag=form">form</a></li>
          <li><a href="./tags.php?tag=if">if</a></li>
          <li><a href="./tags.php?tag=import">import</a></li>
          <li><a href="./tags.php?tag=include">include</a></li>
          <li><a href="./tags.php?tag=macro">macro</a></li>
          <li><a href="./tags.php?tag=sandbox">sandbox</a></li>
          <li><a href="./tags.php?tag=set">set</a></li>
          <li><a href="./tags.php?tag=spaceless">spaceless</a></li>
          <li><a href="./tags.php?tag=use">use</a></li>
          <li><a href="./tags.php?tag=verbatim">verbatim</a></li>
        </ul>
      </li>
      <li><strong>Filters</strong>
        <ul>
          <li>abs</li>
          <li>batch</li>
          <li>capitalize</li>
          <li>convert_encoding</li>
          <li>date</li>
          <li>date_modify</li>
          <li>default</li>
          <li>escape</li>
          <li>first</li>
          <li>format</li>
          <li>join</li>
          <li>json_encode</li>
          <li>keys</li>
          <li>last</li>
          <li>length</li>
          <li>lower</li>
          <li>merge</li>
          <li>nl2br</li>
          <li>number_format</li>
          <li>raw</li>
          <li>replace</li>
          <li>reverse</li>
          <li>round</li>
          <li>slice</li>
          <li>sort</li>
          <li>split</li>
          <li>striptags</li>
          <li>title</li>
          <li>trim</li>
          <li>upper</li>
          <li>url_encode</li>
        </ul>
      </li>
    </ul>